<template name="ModalHeader">
  <div {{attributes}}>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{else}}
      {{{props.content}}}
    {{/if}}
    {{#if props.title}}
      <h5 {{title}}>{{{props.title}}}</h5>
    {{/if}}
    {{#if props.dismiss}}
    {{/if}}
  </div>
</template>
