<template name="Modal">
  <div {{attributes}}>
    <div {{dialog}}>
      <div {{content}}>
        {{#if needHeader}}
          {{> ModalHeader header}}
        {{/if}}
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{else}}
          {{# ModalBody ''}}
            {{{props.content}}}
          {{/ ModalBody}}
        {{/if}}
      </div>
    </div>
  </div>
</template>