<template name="InspiniaNavigation">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <span>
              <img alt="image" class="rounded-circle" src="{{props.image}}" width="50"/>
            </span>
            <a href="{{props.path}}"><strong class="font-bold">{{ props.name }}</strong></a>
          </div>
          <div class="logo-element">
            PD
          </div>
        </li>
        {{#each item in props.items}}
          {{#if item.show}}
            {{#if item.subitems}}
              <li class="{{active item}}">
                <a href="#" aria-expanded="false">
                  {{{item.icon}}}
                  <span class="nav-label">{{item.title}}</span>
                  <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse {{in item}}">
                  {{#each subitem in item.subitems}}
                    <li class="{{active subitem}}">
                      <a href="{{path subitem}}">{{subitem.title}}</a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{else}}
              <li class="{{active item}}">
                <a href="{{path item}}">
                  {{{item.icon}}}
                  <span class="nav-label">{{item.title}}</span>
                  {{#if item.badge}}
                    <span class="label label-{{item.badge.class}} pull-right">{{item.badge.value}}</span>
                  {{/if}}
                </a>
              </li>
            {{/if}}
          {{/if}}
        {{/each}}
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
