<template name="InspiniaPageHeading">
  {{#Row className="wrapper border-bottom white-bg page-heading"}}
    {{#Col lg=12}}
      <h2>{{props.title}}</h2>
      {{#if hasBreadcrumb}}
        <ol class="breadcrumb">
          {{#if props.home}}
            <li class="breadcrumb-item">
              <a href="{{url props.home.name}}">{{props.home.label}}</a>
            </li>
          {{/if}}
          {{#if props.links}}
            {{#each props.links}}
              {{#if name}}
                <li class="breadcrumb-item">
                  <a href="{{url name}}">{{label}}</a>
                </li>
              {{else}}
                <li class="breadcrumb-item active">
                  <strong>{{label}}</strong>
                </li>
              {{/if}}
            {{/each}}
          {{/if}}
        </ol>
      {{/if}}
    {{/Col}}
  {{/Row}}
</template>
