<template name="InspiniaTopMenu">
  <div class="row border-bottom white-bg {{props.className}}">
    <nav class="navbar navbar-expand-sm navbar-static-top" role="navigation">
      <a href="#" class="navbar-brand">{{{props.name}}}</a>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{/if}}
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav mr-auto">

          <!--          <li class="active">-->
          <!--            <a aria-expanded="false" role="button" href="layouts.html"> Back to main Layout-->
          <!--              page</a>-->
          <!--          </li>-->
          <!--          <li class="dropdown">-->
          <!--            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--              Menu item</a>-->
          <!--            <ul role="menu" class="dropdown-menu">-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--            </ul>-->
          <!--          </li>-->
          <!--          <li class="dropdown">-->
          <!--            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--              Menu item</a>-->
          <!--            <ul role="menu" class="dropdown-menu">-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--            </ul>-->
          <!--          </li>-->
          <!--          <li class="dropdown">-->
          <!--            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--              Menu item</a>-->
          <!--            <ul role="menu" class="dropdown-menu">-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--            </ul>-->
          <!--          </li>-->
          <!--          <li class="dropdown">-->
          <!--            <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--              Menu item</a>-->
          <!--            <ul role="menu" class="dropdown-menu">-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--              <li><a href="">Menu item</a></li>-->
          <!--            </ul>-->
          <!--          </li>-->

        </ul>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a href="#" class="js-top-logout">
              {{> FA name='sign-out-alt'}} {{signOut}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>
