<template name="InspiniaLayoutMain">
  <!-- Wrapper-->
  <div id="wrapper">
    <!-- Navigation -->
    {{> Template.dynamic template=menu}}
    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">
      <!-- Page wrapper -->
      {{> Template.dynamic template=top}}
      <!-- Main view  -->
      {{> Template.dynamic template=content}}
    </div>
    <!-- End page wrapper-->
  </div>
  <!-- End wrapper-->
</template>
