<template name="InspiniaLayoutTop">
  <!-- Wrapper-->
  <div id="wrapper">
    <!-- Navigation -->
    {{> Template.dynamic template=menu}}
    <!-- Main view  -->
    {{> Template.dynamic template=content}}
  </div>
  <!-- End page wrapper-->
  <!-- End wrapper-->
</template>
