<template name="Badge">
  {{#if isA}}
    <a {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </a>
  {{else}}
    <div {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </div>
  {{/if}}
</template>
