<template name="Button">
  {{#if isButton}}
    <button {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </button>
  {{/if}}
  {{#if isLink}}
    <a {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </a>
  {{/if}}
  {{#if isInput}}
    <input {{attributes}}>
  {{/if}}
</template>