<template name="Spinner">
  {{#if isType 'wandering-cubes'}}
    <div class="sk-spinner sk-spinner-wandering-cubes">
      <div class="sk-cube1"></div>
      <div class="sk-cube2"></div>
    </div>
  {{/if}}
  {{#if isType 'double-bounce'}}
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>
  {{/if}}
  {{#if isType 'fading-circle'}}
    <div class="sk-spinner sk-spinner-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  {{/if}}
</template>
